<!DOCTYPE html>
<html>
<head>
    <title>PIFPY</title>
    <meta charset="utf-8">
    <meta name="application-name" content="PIFPY"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1, shrink-to-fit=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="icon" href="/media/favicon.jpg">
    <link rel="apple-touch-icon" href="/media/favicons/apple-touch-icon-76x76.png"   sizes="76x76">
    <link rel="apple-touch-icon" href="/media/favicons/apple-touch-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/media/favicons/apple-touch-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/media/favicons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="shortcut icon"    href="/media/favicons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
</head>
<body>

<header>
    <div id="brand">
        <a href="/"><img id="logo" src="/media/logo-dapp.jpg" height="64px"></a>
        <div id="menu">
            <li><a href="/create">Create</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/market">Marketplace</a></li>
            <li><a href="/faq">FAQ</a></li>
        </div>
    </div>
    <div id="links">
        <li><a noref id="menu-account" onclick="onLogin()">Login</a></li>
        <li><a href="/profile" id="link-profile" class="disabled" disabled>Profile</a></li>
    </div>
</header>

<content>

    <div class="latest">
        <h3 class="title">Marketplace</h3>
        <div class="avatars">
            <% if(list) { %>
                <% list.forEach(function(item){ %>
                    <div class="frame">
                        <a href="/profile/<%=item.username%>"><img class="avatar" src="/media/avatars/<%=item.avatar.substr(5)%>.jpg" loading="lazy"></a>
                        <label><%=item.username%></label>
                        <label><b><%=item.price%> HBAR</b></label>
                        <button id="action-buy" class="mini button-buy <%=config.user==item.actid?'disabled':''%>" onclick="onBuy('<%=item.actid%>', <%=item.price%>)"><%=config.user==item.actid?'YOU':'BUY'%></button>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="center fullwidth">
                    <h1>NO AVATARS YET</h1>
                    <h3>Be the first to create one</h3>
                </div>
            <% } %>
        </div>
    </div>

</content>

<footer>
    <div class="rights">&copy;2022 PIFPY</div>
</footer>
<script src="/scripts/hashconnect.js"></script>
<script src="/scripts/pifpy.js"></script>
<script src="/scripts/market.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>