<!DOCTYPE html>
<html>
<head>
    <title>PIFPY</title>
    <meta charset="utf-8">
    <meta name="application-name" content="PIFPY"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1, shrink-to-fit=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="icon" href="/media/favicon.jpg">
    <link rel="apple-touch-icon" href="/media/favicons/apple-touch-icon-76x76.png"   sizes="76x76">
    <link rel="apple-touch-icon" href="/media/favicons/apple-touch-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/media/favicons/apple-touch-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/media/favicons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="shortcut icon"    href="/media/favicons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
</head>
<body>

<header>
    <div id="brand">
        <a href="/"><img id="logo" src="/media/logo-dapp.jpg" height="64px"></a>
        <div id="menu">
            <li><a href="/create">Create</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/market">Marketplace</a></li>
            <li><a href="/faq">FAQ</a></li>
        </div>
    </div>
    <div id="links">
        <li><a href="/" id="menu-account" class="disabled" disabled>Login</a></li>
        <li><a href="/profile" id="link-profile" class="disabled" disabled>Profile</a></li>
    </div>
</header>

<content>
    <div class="notfound">
        <img id="" src="/media/icon-notfound.jpg" height="300px"></a>
        <h1 class="title">SERVER ERROR</h1>
    </div>
</content>

<footer>
    <div class="rights">&copy;2022 PIFPY</div>
</footer>
</body>
</html>